In [1]:
import pandas as pd

In [2]:
!pip install sweetviz

Requirement already satisfied: sweetviz in g:\jupyter\lib\site-packages (1.0a7)
Requirement already satisfied: matplotlib>=3.1.3 in g:\jupyter\lib\site-packages (from sweetviz) (3.1.3)
Requirement already satisfied: jinja2>=2.11.1 in g:\jupyter\lib\site-packages (from sweetviz) (2.11.1)
Requirement already satisfied: tqdm>=4.43.0 in g:\jupyter\lib\site-packages (from sweetviz) (4.46.1)
Requirement already satisfied: numpy>=1.16.0 in g:\jupyter\lib\site-packages (from sweetviz) (1.18.1)
Requirement already satisfied: scipy>=1.3.2 in g:\jupyter\lib\site-packages (from sweetviz) (1.4.1)
Requirement already satisfied: importlib-resources>=1.2.0 in g:\jupyter\lib\site-packages (from sweetviz) (2.0.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in g:\jupyter\lib\site-packages (from sweetviz) (1.0.5)
Requirement already satisfied: python-dateutil>=2.1 in g:\jupyter\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.1)
Requirement already satisfied: cycler>=0.10 in g:\jupyter\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in g:\jupyter\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.4.6)
Requirement already satisfied: kiwisolver>=1.0.1 in g:\jupyter\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in g:\jupyter\lib\site-packages (from jinja2>=2.11.1->sweetviz) (1.1.1)
Requirement already satisfied: zipp>=0.4; python_version < "3.8" in g:\jupyter\lib\site-packages (from importlib-resources>=1.2.0->sweetviz) (2.2.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in g:\jupyter\lib\site-packages (from importlib-resources>=1.2.0->sweetviz) (1.5.0)
Requirement already satisfied: pytz>=2017.2 in g:\jupyter\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2019.3)
Requirement already satisfied: six>=1.5 in g:\jupyter\lib\site-packages (from python-dateutil>=2.1->matplotlib>=3.1.3->sweetviz) (1.14.0)
Requirement already satisfied: setuptools in g:\jupyter\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=3.1.3->sweetviz) (45.2.0.post20200210)

In [3]:
import sweetviz as sv

In [4]:
!pip install xlrd

Requirement already satisfied: xlrd in g:\jupyter\lib\site-packages (1.2.0)

In [5]:
!pip install -U scikit-learn

Requirement already up-to-date: scikit-learn in g:\jupyter\lib\site-packages (0.23.1)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in g:\jupyter\lib\site-packages (from scikit-learn) (1.4.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in g:\jupyter\lib\site-packages (from scikit-learn) (0.14.1)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in g:\jupyter\lib\site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in g:\jupyter\lib\site-packages (from scikit-learn) (1.18.1)

In [6]:
df = pd.read_excel(r'D:\COVID-19 Clinical Data Repository.xlsx')
df.head()

,covid19_test_results,age,high_risk_exposure_occupation,high_risk_interactions,diabetes,chd,htn,cancer,asthma,copd,...,sats,ctab,labored_respiration,rhonchi,wheezes,cough,cough_severity,fever,sob,sob_severity
0,Negative,36,1.0,NaN,False,False,False,False,False,False,...,100.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN
1,Negative,35,0.0,NaN,False,False,False,False,False,False,...,100.0,0.0,0.0,1.0,1.0,1.0,Moderate,0.0,0.0,NaN
2,Negative,18,1.0,NaN,False,False,False,False,False,False,...,97.0,1.0,0.0,0.0,0.0,1.0,Mild,0.0,0.0,NaN
3,Negative,46,NaN,NaN,False,False,False,False,False,False,...,99.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Negative,29,NaN,NaN,False,False,False,False,False,False,...,100.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

# changing the Labels from text to numaric

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['covid19_test_results'] = le.fit_transform(df.covid19_test_results)
df.head()

,covid19_test_results,age,high_risk_exposure_occupation,high_risk_interactions,diabetes,chd,htn,cancer,asthma,copd,...,sats,ctab,labored_respiration,rhonchi,wheezes,cough,cough_severity,fever,sob,sob_severity
0,0,36,1.0,NaN,False,False,False,False,False,False,...,100.0,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN
1,0,35,0.0,NaN,False,False,False,False,False,False,...,100.0,0.0,0.0,1.0,1.0,1.0,Moderate,0.0,0.0,NaN
2,0,18,1.0,NaN,False,False,False,False,False,False,...,97.0,1.0,0.0,0.0,0.0,1.0,Mild,0.0,0.0,NaN
3,0,46,NaN,NaN,False,False,False,False,False,False,...,99.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,0,29,NaN,NaN,False,False,False,False,False,False,...,100.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [8]:
df[['diabetes', 'chd','htn','cancer','asthma','copd','autoimmune_dis']] = df[['diabetes', 'chd','htn','cancer','asthma','copd','autoimmune_dis']].astype(int)
df.cough_severity = pd.factorize(df.cough_severity)[0]
df.head()

,covid19_test_results,age,high_risk_exposure_occupation,high_risk_interactions,diabetes,chd,htn,cancer,asthma,copd,...,sats,ctab,labored_respiration,rhonchi,wheezes,cough,cough_severity,fever,sob,sob_severity
0,0,36,1.0,NaN,0,0,0,0,0,0,...,100.0,1.0,0.0,0.0,0.0,0.0,-1,0.0,0.0,NaN
1,0,35,0.0,NaN,0,0,0,0,0,0,...,100.0,0.0,0.0,1.0,1.0,1.0,0,0.0,0.0,NaN
2,0,18,1.0,NaN,0,0,0,0,0,0,...,97.0,1.0,0.0,0.0,0.0,1.0,1,0.0,0.0,NaN
3,0,46,NaN,NaN,0,0,0,0,0,0,...,99.0,1.0,0.0,0.0,0.0,NaN,-1,NaN,NaN,NaN
4,0,29,NaN,NaN,0,0,0,0,0,0,...,100.0,1.0,0.0,0.0,0.0,NaN,-1,NaN,NaN,NaN

In [9]:
my_report = sv.analyze([df, "Df"],target_feat="covid19_test_results")

:FEATURES DONE:                    |█████████████████████| [100%]   00:08  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [10]:
my_report.show_html('Report.html')

In [11]:
df.covid19_test_results.value_counts()

0    865
1     57
Name: covid19_test_results, dtype: int64

In [12]:
X = df.iloc[:,:1]
y = df.covid19_test_results
X.head()

   covid19_test_results
0                     0
1                     0
2                     0
3                     0
4                     0

In [13]:
from sklearn.model_selection import train_test_split
X_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10)

In [14]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X_train,y_train)
y_predict = model.predict(x_test)

In [15]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

1.0

col_0                   0   1
covid19_test_results
0                     261   0
1                       0  16

In [16]:
!pip install imblearn

Requirement already satisfied: imblearn in g:\jupyter\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in g:\jupyter\lib\site-packages (from imblearn) (0.7.0)
Requirement already satisfied: numpy>=1.13.3 in g:\jupyter\lib\site-packages (from imbalanced-learn->imblearn) (1.18.1)
Requirement already satisfied: scikit-learn>=0.23 in g:\jupyter\lib\site-packages (from imbalanced-learn->imblearn) (0.23.1)
Requirement already satisfied: scipy>=0.19.1 in g:\jupyter\lib\site-packages (from imbalanced-learn->imblearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in g:\jupyter\lib\site-packages (from imbalanced-learn->imblearn) (0.14.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in g:\jupyter\lib\site-packages (from scikit-learn>=0.23->imbalanced-learn->imblearn) (2.1.0)

In [17]:
from imblearn import under_sampling, over_sampling
from imblearn.over_sampling import SMOTE
smote = SMOTE()

G:\jupyter\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
G:\jupyter\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.ensemble.bagging module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)
G:\jupyter\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.ensemble.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)
G:\jupyter\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.ensemble.forest module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)
G:\jupyter\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.utils.testing module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.utils. Anything that cannot be imported from sklearn.utils is now part of the private API.
  warnings.warn(message, FutureWarning)
G:\jupyter\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.metrics.classification module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

In [18]:
X_train_smote, y_train_smote = smote.fit_sample(X_train,y_train)

G:\jupyter\lib\site-packages\sklearn\utils\deprecation.py:86: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [19]:
from collections import Counter
print("Before SMOTE :" , Counter(y_train))
print("After SMOTE :" , Counter(y_train_smote))

Before SMOTE : Counter({0: 604, 1: 41})
After SMOTE : Counter({0: 604, 1: 604})

In [20]:
model.fit(X_train_smote,y_train_smote)
y_predict = model.predict(x_test)
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

1.0

col_0                   0   1
covid19_test_results
0                     261   0
1                       0  16

In [21]:
'This is not quite correct. The ROC AUC is 1.0 because the minimum of the positive class is higher than the maximum of the negative class'

'This is not quite correct. The ROC AUC is 1.0 because the minimum of the positive class is higher than the maximum of the negative class'